body {
    background-color: rgb(241, 242, 244);
}

.wrapper {
  width: 100vw;
  max-width: 1300px;
  background-color: white;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


/*###############################################-----HEADER----###############################################*/

.mobile-header {
    display: flex;
    justify-content: space-between;
    background-color: #F72210;
    font-family: 'Roboto Condensed', sans-serif; 
    height: 50px;  
}

.desktop-header {
    display: flex;
    justify-content: space-between;
    background-color: #F72210;
    font-family: 'Roboto Condensed', sans-serif; 
    height: 96px;
}

.desktop-header p {
    font-size: 15px;
    color: white;
    padding: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.fa-bars {
    color: rgb(237, 134, 130);
    font-size: 14px;
}

.mobile-header-right {
    align-self: center;
    font-size: 14px;
    padding: 12px;

}
.logo {
    float: left;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
}

.london {
    float: left;
    padding: 18px;
    font-size: 14px;
}
.logo-desktop {
    display: flex;
    align-self: center;
    font-size: 90px;
}

.header {
    margin-bottom: 20px;
}

.nav a {
    color: black;
    font-weight: bold;
}

.nav a:hover {
    color: red;
    font-weight: bold;
}

/*###############################################-----CONTAINER----###############################################*/
.main {
    margin-top: 10px;
}

.container {
    background-color: rgb(241, 243, 245);
}
 
.feature-title a {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.feature-title :hover {
    text-decoration: underline red;
    color: black;
}


.summary {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333333;
}

.opinion-title a {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 17px;
}

.opinion-title h6 :hover {
    color: red;
}

.opinion-title p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

.opinion li {
    padding-bottom: 2px;
    border-bottom: solid 1px gray;
}
/*###############################################-----MEDIA QUERY----###############################################*/
 
/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) { 
    
}

/*Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) { 
    
}

/*Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) { 
    
}

/*Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) { 
    
}


